body {
    background-color: #a06cd5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#buttons {
    display: flex;
    gap: 15px;
}

.btn {
    background-color: #5a189a;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 18px;
    text-transform: capitalize;
}

.btn:hover {
    background-color: #3c096c;
}

.stop {
    background-color: red;
}

.stop:hover {
    background-color: darkred;
}
